:root {
    --fg-dark: #111213;
    --bg-light: #d6d6d6;
    --matrix-green: #39FF14;
}

html {
    min-height: 100%;
}

body {
    padding: 0 10px;
    margin: 50px auto;
    max-width: 800px;
    color: var(--fg-dark);
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 2.4rem;
    /* margin: 20px auto; */
    color: var(--fg-dark);
}

.header {
    text-align: center;
    margin-bottom: 40px;
}